<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="logs/${shortdate}"/>
  <targets>
    <target name="con" xsi:type="Console"  layout="${longdate} | ${level} | ${callsite} | ${message} ${exception}"/>
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${logDirectory}/zj.${logger}.${shortdate}.log"
              layout="${longdate} | ${level} | ${callsite} | ${message}  ${exception:format=Message, Type, ShortType, ToString, Method, StackTrace}"
              maxArchiveFiles="100" />
    </target>
    <!--write log message to Visual Studio Output-->
    <target name="debugger" xsi:type="Debugger" layout="NLog: ${date:format=HH\:mm\:ss} | ${level:uppercase=true:padding=-5} | ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="debugger" />
    <logger name="ConsoleApplication1.*" minlevel="Trace" writeTo="con" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
  </rules>
</nlog>